body{
    height: 100%;
    width: 100%;
    border: 0;
    margin: 0;
    font-family: 'Arial', 'sans-serif'
}

h1, h2, h3{
  font-family: 'Georgia', 'serif';
}

.container-background {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
    background-color: #FFF;
    height: 80%;
    width: 75%;
    border-style: solid;
    border-width: 2px;
    border-color: #3164C7;
    border-radius: 20px;
}

div{
  transition: width 2s, max-width 2s, height 2s, max-height 2s;
  transition-timing-function: ease;
  overflow: hidden;
  text-overflow: ellipsis;
}

.section-container {
  display: flex;
  flex-flow: row wrap;
  padding: 0px 15px 0px 15px;
}

div.section-content {

}

div.section-content p{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  display: block;

  margin-top: 0px;
  margin-bottom: 0px;
}

.article-container{
  display: flex;
  flex-flow: row wrap;
  margin-left: 10%;
  margin-right: 10%;
}

.subsection-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  transition: flex 2s;
  padding: 15px;
}